.grid {
  display: flex;
  width: auto;
  gap: 16px;
}
.grid_column {
  background-clip: padding-box;
}

/* Style your items */
.grid_column > div {
  margin-bottom: 16px;
  /* change div to reference your elements you put in <Masonry> */
}

.grid_column img {
  max-width: 100%;
}
