* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color--primary: #007bfd;
  --color--primary-900: #00356e;

  --color-background-200: #eeeeee;

  
  --color-border-200: #eeeeee;
  --color-light-100: #ffffff;

  --color-text-100: #676767;
  --color-text-900: #1c1c1c;
}

body {
  font-family: "Poppins", sans-serif;
}
input,
button {
  font-family: "Poppins", sans-serif;
}
