.filters span {
  color: var(--color-text-700);
  font-size: 14px;
}
.results h1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text-900);
}

.clear {
  color: var(--color-text-700);
  font-size: 14px;
  cursor: pointer;
  padding: 0 4px;
}
.clear:hover {
  color: var(--color-text-900);
}
.filters {
  display: flex;
  gap: 8px;
  align-items: center;
}


.colors {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 8px;
  padding: 4px 0;
}
.label {
  color: var(--color-text-500);
  font-size: 14px;
  padding: 0 16px;
}
